//  FONT SIZE > 8 10 14 16 18 24 32
$font-size-tiny: 1rem;
$font-size-smallest: 1.2rem;
$font-size-small: 1.4rem;
$font-size-normal: 1.6rem;
$font-size-large: 2rem;
$font-size-largest: 3.5rem;
$font-size-huge: 6rem;

//  PADDING & MARGIN > 10 15 20 30 50
$space-tiny: 0.5rem;
$space-smallest: 1.5rem;
$space-small: 2.5rem;
$space-normal: 3.5rem;
$space-large: 6rem;
$space-largest: 10rem;
$space-huge: 16rem;

//  COLORS
$pri-color: #212c62;
$sec-color: #7f1416;

$grey-color-1: #f2f2f2;
$grey-color-2: #d9d9d9;
$grey-color-3: #2c2c2c;

$pri-color-light-1: #e9eaef;
$pri-color-light-2: #d3d5e0;
$pri-color-light-3: #bcc0d0;

$pri-color-dark-1: #19214a;
$pri-color-dark-2: #0d1227;
$pri-color-dark-3: #080b19;

$sec-color-light-1: #dfc4c5;
$sec-color-light-2: #8c2b2d;

$sec-color-dark-1: #330809;
$sec-color-dark-2: #5f0f11;

//  SHADOWS
$shadow-1: 0 0 2rem rgba(0, 0, 0, 0.05);
$shadow-2: 0 0 5rem rgba(0, 0, 0, 0.05);

//  BORDERS
$border-1: 1px solid $grey-color-1;
$border-2: 1px solid $pri-color-light-3;

//  BREAKPOINTS
$bp-tiny: 30em; // tiny
$bp-smallest: 40em; // smallest
$bp-small: 50em; // small
$bp-normal: 60em; // normal
$bp-large: 70em; // large
$bp-largest: 80em; // largest
$bp-huge: 90em; // huge
