.header {
  background-color: $pri-color-light-3;
  // min-height: 80vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: stretch;
  // gap: $space-largest;
  position: relative;

  nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: $space-small $space-largest;
    align-self: stretch;
    background-color: $grey-color-1;
    border-bottom: 1px solid $pri-color-light-2;
  }
}
.section {
  &-about {
    background-color: $pri-color;
    min-height: 50vh;
    padding: $space-largest;
  }
  &-team {
    background-color: $pri-color-light-2;
    min-height: 50vh;
    padding: $space-largest;
  }
  &-services {
    background-color: $sec-color-light-2;
    min-height: 50vh;
    padding: $space-largest;
  }
}
.footer {
  background-color: $pri-color-dark-2;
  min-height: 50vh;
  padding: $space-largest;
}
.summary {
  flex: 0 0 100%;
  display: flex;
}
