.header {
  font-size: $font-size-normal;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;

  nav {
    position: fixed;
    width: 100%;
    z-index: 10;

    background-color: $grey-color-1;

    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    padding: $space-small $space-largest;
    border-bottom: 1px solid $pri-color-light-2;
  }
}
.main > * {
  min-height: 50vh;
  padding: $space-largest;
  font-size: $font-size-normal;
}

.section {
  &-about {
    background-color: $pri-color-light-1;
  }
  &-team {
    background-color: $pri-color-light-2;
  }
  &-services {
  }
  &-contacts {
    background-color: $sec-color;
  }
}
.footer {
  min-height: 50vh;
  padding: $space-largest $space-largest $space-small $space-largest;
  color: $grey-color-1;
  text-align: center;
  font-size: $font-size-smallest;
}
