.padding-top-tiny {
  padding-top: $space-tiny !important;
}
.padding-right-tiny {
  padding-right: $space-tiny !important;
}
.padding-bottom-tiny {
  padding-bottom: $space-tiny !important;
}
.padding-left-tiny {
  padding-left: $space-tiny !important;
}

.padding-top-smallest {
  padding-top: $space-smallest !important;
}
.padding-right-smallest {
  padding-right: $space-smallest !important;
}
.padding-bottom-smallest {
  padding-bottom: $space-smallest !important;
}
.padding-left-smallest {
  padding-left: $space-smallest !important;
}

.padding-top-small {
  padding-top: $space-small !important;
}
.padding-right-small {
  padding-right: $space-small !important;
}
.padding-bottom-small {
  padding-bottom: $space-small !important;
}
.padding-left-small {
  padding-left: $space-small !important;
}

.padding-top-normal {
  padding-top: $space-normal !important;
}
.padding-right-normal {
  padding-right: $space-normal !important;
}
.padding-bottom-normal {
  padding-bottom: $space-normal !important;
}
.padding-left-normal {
  padding-left: $space-normal !important;
}

.padding-top-large {
  padding-top: $space-large !important;
}
.padding-right-large {
  padding-right: $space-large !important;
}
.padding-bottom-large {
  padding-bottom: $space-large !important;
}
.padding-left-large {
  padding-left: $space-large !important;
}

.padding-top-largest {
  padding-top: $space-largest !important;
}
.padding-right-largest {
  padding-right: $space-largest !important;
}
.padding-bottom-largest {
  padding-bottom: $space-largest !important;
}
.padding-left-largest {
  padding-left: $space-largest !important;
}

.padding-top-huge {
  padding-top: $space-huge !important;
}
.padding-right-huge {
  padding-right: $space-huge !important;
}
.padding-bottom-huge {
  padding-bottom: $space-huge !important;
}
.padding-left-huge {
  padding-left: $space-huge !important;
}
