.search-form {
  flex: 0 0 30%;
  &-input {
    padding: $space-tiny $space-normal;
    border: none;
    box-shadow: none;
    border-radius: $space-normal;
    margin-left: -$space-large;
    border: $border-1;
    width: 90%;

    transition: all 0.2s;

    &:focus {
      width: 100%;
      outline: none;
      border: $border-1;
      box-shadow: $shadow-1;
    }
  }

  &-button {
    transform: translate(-29.5rem, 0.1rem);
    border: none;
    background: none;

    transition: all 0.5s;
  }
  &-input:focus ~ &-button {
    transform: translate(-3.5rem, 0.1rem);

    cursor: pointer;
  }
}
