.slider {
  position: relative;
  align-self: stretch;
  flex: 0 0 100%;
  min-height: 80vh;
  display: flex;
  justify-content: flex-start;

  list-style-type: none;
  overflow: hidden;

  &-item {
    flex: 0 0 100%;
    min-height: 100%;
    min-width: 100%;
    user-select: none;
    padding: $space-large $space-huge;
    // background-size: cover;

    // &-1 {
    //   background-image: linear-gradient(
    //       rgba($pri-color-light-1, 0.97),
    //       rgba($pri-color-light-2, 0.97)
    //     ),
    //     url("../../public/images/buildings-205986_1920.jpg");
    // }
    // &-2 {
    //   background-image: linear-gradient(
    //       rgba($pri-color-light-1, 0.97),
    //       rgba($pri-color-light-2, 0.97)
    //     ),
    //     url("../../public/images/books-2463779_1920.jpg");
    // }
    // &-3 {
    //   background-image: linear-gradient(
    //       rgba($pri-color-light-1, 0.97),
    //       rgba($pri-color-light-2, 0.97)
    //     ),
    //     url("../../public/images/court-5665992_1920.jpg");
    // }
    // &-4 {
    //   background-image: linear-gradient(
    //       rgba($pri-color-light-1, 0.97),
    //       rgba($pri-color-light-2, 0.97)
    //     ),
    //     url("../../public/images/office-581131_1920.jpg");
    // }
  }

  &-control {
    position: absolute;
    align-self: flex-start;
    padding: 2rem;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: blue;
    }
    transition: all 0.2s;

    &--left {
      top: 38%;
      left: 2%;

      &:hover {
        transform: translateX(0.4rem) scale(1.03);
      }
      &:active {
        transform: scale(1.01);
      }
    }
    &--right {
      top: 38%;
      right: 2%;

      &:hover {
        transform: translateX(-0.4rem) scale(1.03);
      }
      &:active {
        transform: scale(1.01);
      }
    }
    &-icons {
      height: $space-small;
      width: $space-small;
      fill: rgba($pri-color-light-3, 0.9);
    }
  }
  &-content {
    min-height: 100%;
    text-align: center;
    // background-color: #fff;
  }

  &-texts {
    flex: 1 1 100%;
    min-height: 100%;
    max-width: 100%;
    gap: $space-normal;

    display: flex;
    flex-direction: column;

    h1 {
      color: $pri-color;
      font-size: $font-size-huge;
      text-transform: uppercase;
    }
  }
}
