.slider {
  position: relative;

  align-self: stretch;
  display: flex;

  justify-content: flex-start;
  list-style-type: none;
  flex: 0 0 100%;
  background-color: $pri-color-dark-1;
  // overflow: hidden;

  &-item {
    flex: 0 0 100%;
    min-height: 80vh;
    padding: $space-huge;
  }

  &-control {
    position: absolute;
    align-self: flex-start;
    padding: 2rem;
    z-index: 2;
    background-color: red;
    color: white;
    &:hover {
      color: blue;
    }

    &--left {
      top: 47%;
      left: 2%;
    }
    &--right {
      top: 47%;
      right: 2%;
    }
  }
}
