html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: $font-size-tiny;
  font-weight: 500;
  color: $grey-color-3;
}

.secondary {
  &-title {
    font-size: $font-size-normal;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}
